{% extends 'layout.html' %}

{% block title %}Table Tennis Leagues{% endblock %}

{% block content %}

  <h1>Table Tennis Leagues</h1>

  {% if liveLeague %}
    <p>Live league: <a href="{{ liveLeague.name }}.html">{{ liveLeague.displayName }}</a></p>
  {% else %}
    <p>No live league</p>
  {% endif %}

  {% if previousLeagues.length %}
    <h3>Previous Leagues</h3>

    <ul>
      {% for league in previousLeagues %}
        <li>
          <a href="{{ league.name }}.html">{{ league.displayName }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No previous leagues</p>
  {% endif %}

{% endblock %}
