<html>
  <head>
    <title>{{ name }}</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <p><a href="index.html">back</a></p>

    <table>
      <thead>
        <tr>
          <td></td>
          <td>Player</td>
          <td>Played</td>
          <td>Wins</td>
          <td>For</td>
          <td>Against</td>
          <td>Diff</td>
        </tr>
      </thead>
      <tbody>
        {% for row in standings %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.played }}</td>
            <td>{{ row.wins }}</td>
            <td>{{ row.for }}</td>
            <td>{{ row.against }}</td>
            <td>{{ row.diff }}</td>
          </tr>
        {% endfor %}
      <tbody>
    </table>

    <div>
      <h2>All Results</h2>
      {% if allResults.length %}
        {% for dateRow in allResults %}
          <p><strong>{{ dateRow.date }}</strong></p>
          {% for row in dateRow.results %}
            <p>{{ row.winner }} beat {{ row.loser }} {{ row.score }}</p>
          {% endfor %}
        {% endfor %}
      {% else %}
        <p>No results yet</p>
      {% endif %}
    </div>

    {% for breakdown in playerBreakdowns %}
      <div>
        <h2>{{ breakdown.name }} breakdown</h2>
        {% if breakdown.results.length %}
          <p><strong>Results</strong></p>
          {% for row in breakdown.results %}
            <p>{{ row.winner }} beat {{ row.loser }} {{ row.score }}</p>
          {% endfor %}
        {% else %}
          <p>No results yet</p>
        {% endif %}

        {% if breakdown.yetToPlay.length %}
          <p><strong>Remaining Fixtures</strong></p>
          {% for player in breakdown.yetToPlay %}
            <p>{{ breakdown.name }} v {{ player}}</p>
          {% endfor %}
        {% else %}
          <p>All fixtures played!</p>
        {% endif %}
      {% endfor %}
    </div>
  <body>
</html>