{% extends 'layout.html' %}

{% block title %}{{ name }}{% endblock %}

{% block content %}

  <h1>{{ name }}</h1>
  <p><a href="index.html">back</a></p>

  <div class="standings">
    <h2>Current Standings</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Player</th>
          <th>Played</th>
          <th>Wins</th>
          <th>For</th>
          <th>Against</th>
          <th>Diff</th>
        </tr>
      </thead>
      <tbody>
        {% for row in standings %}
          <tr data-player="{{ row.name }}">
            <td>{{ loop.index }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.played }}</td>
            <td>{{ row.wins }}</td>
            <td>{{ row.for }}</td>
            <td>{{ row.against }}</td>
            <td>{{ row.diff }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="all-results">
    <h2>All Results</h2>
    {% if allResults.length %}
      {% for dateRow in allResults %}
        <h3>{{ dateRow.date }}</h3>
        {% for row in dateRow.results %}
          <p>{{ row.winner }} beat {{ row.loser }} {{ row.score }}</p>
        {% endfor %}
      {% endfor %}
    {% else %}
      <p>No results yet</p>
    {% endif %}
  </div>

  {% for breakdown in playerBreakdowns %}
    <div class="breakdown" data-player="{{ breakdown.name }}" style="display: none">
      <h2>{{ breakdown.name }} breakdown</h2>
      {% if breakdown.results.length %}
        <h3>Results</h3>
        {% for row in breakdown.results %}
          <p>{{ row.winner }} beat {{ row.loser }} {{ row.score }}</p>
        {% endfor %}
      {% else %}
        <p>No results yet</p>
      {% endif %}

      {% if breakdown.yetToPlay.length %}
        <h3>Remaining Fixtures</h3>
        {% for player in breakdown.yetToPlay %}
          <p>{{ breakdown.name }} v {{ player}}</p>
        {% endfor %}
      {% else %}
        <p>All fixtures played!</p>
      {% endif %}
    </div>
  {% endfor %}

  <script type="text/javascript">

    var allResultsDiv = document.querySelector(".all-results");

    [].forEach.call(document.querySelectorAll(".standings tbody td"), function (el) {
      el.addEventListener("click", function (e) {
        var row = e.target.parentNode;
        var selectedPlayer = row.getAttribute("data-player");

        [].forEach.call(document.querySelectorAll(".breakdown"), function (el) {
          el.style.display = "none";
        }, false);

        allResultsDiv.style.display = "none";
        var playerBreakdownDiv = document.querySelector(".breakdown[data-player='" + selectedPlayer + "']");
        playerBreakdownDiv.style.display = "block";
      }, false);
    });

  </script>

{% endblock %}
