{% extends 'layout.html' %}

{% macro getId(name) -%}
  {{ name | lower | replace(r/[^a-z0-9]+/g, '-') }}
{%- endmacro %}

{% block title %}{{ displayName }}{% endblock %}

{% block content %}

  <h1><a href="{{ name }}.html">{{ displayName }}</a></h1>

  <p><a href="index.html">back</a></p>

  {% if startDate and endDate %}
    <p>{{ startDate }} - {{ endDate }}</p>
  {% endif %}

  {% if description %}
    <p>{{ description }}</p>
  {% endif %}

  <div class="standings">
    <h2>Current Standings</h2>
    <table class="table table-striped" id="standings">
      <thead>
        <tr>
          <th class="no-sort"></th>
          <th class="no-sort">Player</th>
          <th>Played</th>
          <th>Wins</th>
          <th>For</th>
          <th>Against</th>
          <th>Diff</th>
        </tr>
      </thead>
      <tbody>
        {% for row in standings %}
          <tr data-player="{{ row.name }}">
            <td>{{ loop.index }}</td>
            <td><a href="#{{ getId(row.name) }}">{{ row.name }}</a></td>
            <td>{{ row.played }}</td>
            <td>{{ row.wins }}</td>
            <td>{{ row.for }}</td>
            <td>{{ row.against }}</td>
            <td>{{ row.diff }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% for breakdown in playerBreakdowns %}
    <div class="breakdown" id="{{ getId(breakdown.name) }}">
      <h2>{{ breakdown.name }} breakdown</h2>
      {% if breakdown.results.length %}
        <h3>Results</h3>
        {% for row in breakdown.results %}
          <p>{{ row.winner }} beat {{ row.loser }} {{ row.score }}</p>
        {% endfor %}
      {% else %}
        <p>No results yet</p>
      {% endif %}

      {% if breakdown.yetToPlay.length %}
        <h3>Remaining Fixtures</h3>
        {% for player in breakdown.yetToPlay %}
          <p>{{ breakdown.name }} v {{ player}}</p>
        {% endfor %}
      {% else %}
        <p>All fixtures played!</p>
      {% endif %}
    </div>
  {% endfor %}

  <div class="all-results">
    <h2>All Results ({{ resultsTotal }})</h2>
    {% if allResults.length %}
      {% for dateRow in allResults %}
        <h3>{{ dateRow.date }}</h3>
        {% for row in dateRow.results %}
          <p>{{ row.winner }} beat {{ row.loser }} {{ row.score }}</p>
        {% endfor %}
      {% endfor %}
    {% else %}
      <p>No results yet</p>
    {% endif %}
  </div>

  <script type="text/javascript" src="app.js"></script>

{% endblock %}
