/* Scaffolding */

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Typography */

h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

h1 a {
  color: #333;
}

h1 a:hover {
  color: #333;
  text-decoration: none;
}

/* Table */

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

td,
th {
  padding: 0;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/* TableSort */

th.sort-header::-moz-selection {
  background: transparent;
}

th.sort-header::selection {
  background: transparent;
}

th.sort-header {
  cursor: pointer;
}

th.sort-header::-moz-selection,
th.sort-header::selection {
  background: transparent;
}

table th.sort-header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}

table th.sort-header:hover:after {
  visibility: visible;
}

table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
}

table th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

/* Responsive */

@media (max-width: 550px) {
  .table {
    min-width: 500px;
  }
}

/* Sync the visible player results section with the hash fragment */

/* This hides breakdowns by default */
.breakdown { display: none; }

/* Show the one which has an id attribute matching the hash fragment */
.breakdown:target { display: block; }

/* Hide the all results section if any of the breakdowns match */
.breakdown:target ~ .all-results { display: none; }
